<div class='product'>
  <h1>{{product.title}}</h1>
  <p class='product-price'>R${{product.price}}</p>
  <button class='product-buy'><a
      href='/buy/{{product.id}}'
    >Comprar</a></button>
</div>