<div class='book-page'>
  <h1>{{book.title}}</h1>
  <h3>Detalhes</h3>
  <p>Este livro tem {{book.pageqty}} páginas.</p>
</div>

<div class='container-button'>
  <button>
    <a href='/'>Adicionar livro</a>
  </button>
</div>